body {
	background-color: #F4F6F6;

}

/*Ruels for Standerd Desktop*/



#Jumbotron-Img {
	position: absolute;
	top: 0%;
	left: 0%;
	padding: 0%;
	margin: 0%;
	height: 100%;
	width: 100%;
}

#Title {
	position: absolute;
	top: -1%;
	left: 6%;
	color: #ffffff;
	font-family: arial;
	font-size: 33px;
}

#Nav-Bar {
	position: absolute;
	color: #ffffff;
	font-size: 33px;
	font-family: arial;
	top: -1.5%;
	left: 70%;
	-webkit-vendor-animation-duration: 5s;
    -webkit-vendor-animation-delay: 5s;
  

}

#Nav-Bar ul li {
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	color: #ffffff;

}

#Nav-Bar ul li:hover {
	
	color: #6D797A;

}

.Hedders {
	font-weight: 0px;
	color: #ffffff;
	font-family: arial;
	font-size: 60px;
	font-family: serif;
}

#Welcome {
	position: absolute;
	top: 16%;
	left: 40.6%;
	font-weight: 0px;
	color: #ffffff;
	font-family: arial;
	font-size: 90px;
	-webkit-vendor-animation-duration: 5s;
    -webkit-vendor-animation-delay: 5s;
}

#Under-Welcome-Statment {
	position: absolute;
	top: 19%;
	left: 41.5%;
	font-weight: 0px;
	color: #ffffff;
	font-family: arial;
	font-size: 45px;

}

#Learn-More-Button {
	position: absolute;
	top: 60%;
	left: 43%;
	top: 35%;
	height: 5%;
	width: 10%;
	background-color: #f98d45;
	color: #ffffff;
	font-family: arial;
	border-radius: 56px 56px 56px 56px;
	-moz-border-radius: 56px 56px 56px 56px;
	-webkit-border-radius: 56px 56px 56px 56px;
	border: 0px solid #000000;


}

#Learn-More-Button-Text {

	position: absolute;
	top: -30%;
	left: 14.6%;
	text-decoration: none;
	color: #ffffff;
	font-size: 30px;
	cursor: pointer;


}

#Text-Section-1 {
	position: absolute;
	top: 105%;
	font-family: arial; 
	text-align: center;
	font-size: 30px;
	left: 30%;
	color: #5B5C5C;
}



#Section-2 {
	position: absolute;
	top: 115%;
	left: 0%;
	height: 40%;
	width: 100%;
	background-color: #C5CECB;
}

#Section-2-Gragpic {
	position: absolute;
	left: 15%;
	height: 80%;
	width: 70%;
	top: 0%;
}

#Web-Dev-Text {
	position: absolute;
	text-align: center;
	font-size: 25px;
	font-family: arial;
	top: 60%;
	color: #3F4144;
	left: 12%;
}

#Web-Design-Text {
	position: absolute;
	text-align: center;
	font-size: 25px;
	font-family: arial;
	top: 60%;
	color: #3F4144;
	left: 40.5%;
}

#Others-Text {
	position: absolute;
	text-align: center;
	font-size: 25px;
	font-family: arial;
	top: 60%;
	color: #3F4144;
	left: 69%;

}

.Invis {
	color: #F4F6F6;
}

#Rode-Map {
	position: absolute;
	background-color: #E0E0E0;
	height: 180%;
	width: 100%;
	top: 100%;
}


#Footer {
	position: absolute;
	height: 15%;
	margin: 0%;
	padding: 0%;
	left: 0%;
	width: 100%;
	top: 290%;
	background-color: #2E3333;
}

#Copyright {
	position: absolute;
	font-family: arial;
	color: #949494;
	font-size: 22px;
	font-weight: 30px;
	bottom: 0.9%;
	left: 45%;
}

